/* basic, readable style */
/* (adapted from https://dev.to/swyx/100-bytes-of-css-to-look-great-everywhere-19pd) */
html {
  max-width: 70ch;
  padding: 2em 0.5em;
  margin: auto;
  line-height: 1.5;
  font-size: 1.25em;
}

.two-column-reflow {
  display: grid;
  /* auto-fill as space is available */
  grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
  gap: 2em;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 33%;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

/* so that images don't overflow their parent <p> container */
img {
  max-width: 100%;
}

table {
  border-spacing: 0;
}

table thead th {
  border: 1px solid black;
  border-width: 0 0 2px;
}

/* animating paths for plants */
/* https://css-tricks.com/svg-line-animation-works/ */
/* 3 seconds feels like a good amount of time for this */
.stem-grow {
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
