/* basic, readable style */
/* (adapted from https://dev.to/swyx/100-bytes-of-css-to-look-great-everywhere-19pd) */
html {
  max-width: 70ch;
  padding: 2em 0.5em;
  margin: auto;
  line-height: 1.5;
  font-size: 1.25em;
}

h1 {
  margin: 1em 0 0;
}

p.subtitle {
  font-style: italic;
  margin: 0 0 2em;
}

.note {
  margin-left: 50px;
  padding: 0.5em 0;
  position: relative;
  font-size: 0.9em;
}
.note::before {
  content: '\261E';
  font-size: 2.5em;
  position: absolute;
  left: -50px;
  top: 0;
}
.note p {
  margin: 0;
}

blockquote {
  position: relative;
  margin-left: 50px;
  font-size: 0.9em;
}
blockquote::before {
  content: '\201C';
  font-size: 3em;
  position: absolute;
  left: -50px;
  top: 0;
}

.two-column-reflow {
  display: grid;
  /* auto-fill as space is available */
  grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
  gap: 2em;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.third-width {
  width: 33%;
}

.text-center {
  text-align: center;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.error {
  color: red;
  border: 1px solid red;
  padding: 8px;
}

.wip {
  color: gray;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
}
.wip::before {
  display: block;
  text-align: center;
  content: '\1F6A7  \1F477  \1F3D7';
  font-size: 1.5em;
}

/* so that images don't overflow their parent <p> container */
img {
  max-width: 100%;
}

table {
  border-spacing: 0;
}

table thead th {
  border: 1px solid black;
  border-width: 0 0 2px;
}

section.linked-to {
  margin: 3em 0;
}

hr.footnotes-sep {
  margin: 3em 0;
}

hr.footer-sep {
  margin: 3em 0;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}
details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
summary {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

/* 7 * 10 + 30 = 100% */
.run-calendar td {
  width: 10%;
}
.run-calendar td:last-child {
  width: 30%;
}

.run-button {
  background-color: #3cc286;
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  outline: none;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.run-data {
  font-style: italic;
}

.run-chart {
  height: 100px;
}
ul.run-weeks {
  position: relative;
  height: 100px;
  list-style: none;
}
li.run-week {
  position: absolute;
  bottom: 0px;
  /* 100/54 possible weeks in year = ~1.85, going slightly smaller */
  width: 1.75%;
  height: 100%;
  border-left: 1px solid white;
}
.run-week .bar {
  position: absolute;
  background: #3cc286;
  border-bottom: 1px solid #3cc286;
  bottom: 0px;
  display: block;
  left: 0;
  width: 100%;
}

/* animating paths for plants */
/* https://css-tricks.com/svg-line-animation-works/ */
/* 3 seconds feels like a good amount of time for this */
.stem-grow {
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
