{% macro aboutMe() %}
<p>I'm Michael — professionally a software engineer, personally a husband and dad, recreationally a <a href="https://github.com/mikrostew/recipes">baker</a>, <a href="/weight-training/">lifter</a>, and <a href="/run-once-a-week/">runner</a>.</p>
{% endmacro %}

{% macro item(url, data) %}
<p class="page-link"><a href="{{ url }}">{{ data.title }}</a></p>
<p class="page-description">{{ data.description }}</p>
{% endmacro %}
