---
#### Things that should be overridden by the page
title: Automatic Owl
description: TODO

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- notice me, SEO senpai -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Automatic Owl</title>
    <meta name="description" content="{{ description }}">
    <!-- twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }} | Automatic Owl">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:creator" content="@mikrostew">
    <meta name="twitter:image" content="https://automaticowl.net/img/site-logo.png">
    <!-- open graph -->
    <meta property="og:title" content="{{ title }} | Automatic Owl" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://automaticowl.net{{ page.url }}" />
    <meta property="og:image" content="https://automaticowl.net/img/site-logo.png" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:site_name" content="Automatic Owl" />

    <!-- for IndieAuth -->
    <link rel="pgpkey" href="/automaticowl.pub">

    <!-- TODO -->
    <!-- <link rel="stylesheet" type="text/css" href="/automaticowl.css" /> -->
  </head>
  <body>
    <article class="main">
      <header>
        <a href="/" class="header-link">automatic owl</a>
      </header>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <p>(<a href="https://github.com/mikrostew/automatic-owl/commits/main/{{ page.inputPath }}" title="See the history of this page on GitHub">{{ revisions.length }} revisions</a>, last updated {{ revisions | toLastUpdated }})</p>
{{ content | safe }}
      <footer>
        <!-- TODO -->
      </footer>
    </article>
  </body>
</html>
