---
#### Things that should be overridden by the page
title: Automatic Owl
description: TODO

---

{% import "layout-macros.njk" as layout %}
<!DOCTYPE html>
<html lang="en">
<head>
{{ layout.meta(title, description, page.url) }}
</head>
<body>
<article class="main">
{{ layout.header() }}
{{ layout.title(title, description) }}
{{ content | safe }}
{{ layout.footer(page.inputPath, revisions.length, lastUpdated) }}
</article>
</body>
</html>
