---
# Should be overridden by the page

title: Automatic Owl
description: TODO

# Optional

# list of JS filenames (no '.js' extension)
jsFiles: []

# list of CSS filenames (no '.css' extension)
# (these are included in addition to the main CSS file)
cssFiles: []

# places where I linked to this from other places
linkedTo: []
# (for example)
# linkedTo:
#  - url: https://www.reddit.com/r/some-subreddit/...
#    text: "r/some-subreddit"

---
{% import "layout-macros.njk" as layout %}
<!DOCTYPE html>
<html lang="en">
<head>
{{ layout.meta(title, description, page.url) }}
{% for cssFile in cssFiles %}<link rel="stylesheet" type="text/css" href="/css/{{ cssFile }}.css" />{% endfor %}
{% for jsFile in jsFiles %}<script type="text/javascript" src="/js/{{ jsFile }}.js" defer></script>{% endfor %}
</head>
<body>
<article class="main">
{{ layout.header() }}
{{ layout.title(title, description) }}
{% if jsFiles.length > 0 %}
<noscript>
<div class="error">
This page doesn't work if JavaScript is disabled! Please enable JavaScript. You can see the script(s) that would be run here:
<ul>
{% for jsFile in jsFiles %}<li><a href="https://github.com/mikrostew/automatic-owl/blob/main/js/{{ jsFile }}.js">{{ jsFile }}.js</a></li>{% endfor %}
</ul>
</div>
</noscript>
{% endif %}
<section>
{{ content | safe }}
</section>
{{ layout.linksToThis(linkedTo) }}
{{ layout.footer(page.inputPath, revisions.length, lastUpdated) }}
</article>
</body>
</html>
