---
#### Things that should be overridden by the page
title: Automatic Owl
description: TODO
scriptName: TODO

---

{% import "layout-macros.njk" as layout %}
<!DOCTYPE html>
<html lang="en">
<head>
{{ layout.meta(title, description, page.url) }}
<script type="text/javascript" src="/js/{{ scriptName }}" defer></script>
</head>
<body>
<article class="main">
{{ layout.header() }}
{{ layout.title(title, description) }}
<noscript>
<style type="text/css">.error { border: 1px solid red; }</style>
<p class="error">This page doesn't work if JavaScript is disabled! Please enable JavaScript. You can see the script that would be run <a href="https://github.com/mikrostew/automatic-owl/blob/main/js/{{ scriptName }}">here</a>.</p>
</noscript>
<section>
{{ content | safe }}
</section>
{{ layout.footer(page.inputPath, revisions.length, lastUpdated) }}
</article>
</body>
</html>
