---
layout: base-page
title: Home
---

<section class="content">

<p>Hey, thanks for stopping by! 👋</p>

<p>There's not much here at the moment, because I feel like redoing the whole site.</p>

<p>Code for this site is <a href="https://github.com/mikrostew/automatic-owl/">on Github</a>.</p>

<h2>Recently Updated</h2>

{% for item in collections.updated %}
  <p><a href="{{ item.url }}">{{ item.data.title }}</a> (updated {{ item.lastUpdated }})</p>
{% endfor %}

</section>
