---
title: Home
description: Hey, thanks for stopping by! 👋
layout: base-page

---

<section class="content">

<p>Everything I've added to the site so far is listed on this page.</p>

<h2>Recently Updated</h2>

{% for item in collections.updated %}
  <p><a href="{{ item.url }}">{{ item.data.title }}</a> (updated {{ item.data.lastUpdated | timestampToDateStr }})</p>
{% endfor %}

</section>
