---
title: Home
description: Hey, thanks for stopping by! 👋
layout: base-page

---

<section class="content">

<p>Everything I've added to the site so far is listed on this page.</p>

<h3>Linked To</h3>
<p>Things I thought were interesting enough to post elsewhere.</p>

{%- for item in collections.linkedTo %}
<p><a href="{{ item.url }}">{{ item.data.title }}</a> (updated {{ item.data.lastUpdated | timestampToDateStr }})</p>
{%- endfor %}

<h3>In Progress</h3>
<p>Things I am still working on, as I have time and interest.</p>

{%- for item in collections.wip %}
<p><a href="{{ item.url }}">{{ item.data.title }}</a> (updated {{ item.data.lastUpdated | timestampToDateStr }})</p>
{%- endfor %}

<h3>Everything Else</h3>
<p>Ordered by when they were last updated.</p>

{%- for item in collections.updated %}
<p><a href="{{ item.url }}">{{ item.data.title }}</a> (updated {{ item.data.lastUpdated | timestampToDateStr }})</p>
{%- endfor %}

</section>
